<% if @user.errors.any? %>

  <div class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li> <%= message %></li>
        <% end %>
      </ul>
  </div>

<% end %>
<div class="panel panel-default">

 <div class="panel-heading">
    Formulaire d'inscription
 </div>
 <div class="panel-body">
      <%= form_for @user,class: 'form-horizontal' do |f| %>

          <div class="form-group">
            <%= f.label :username, "Nom d'user",class:'col-md-4 control-label' %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :username,class:'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :email,  "Email",class:'col-md-4 control-label' %>
          </div>
          <div class="col-md-6">
            <%= f.email_field :email,class:'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password ,"Mot de passe",class:'col-md-4 control-label' %>
          </div>
          <div class="col-md-6">
            <%= f.password_field :password,class:'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation ,"Confirmer le mot de passe",class:'col-md-4 control-label' %>
          </div>
          <div class="col-md-6">
            <%= f.password_field :password_confirmation,class:'form-control' %>
            <br>
            <%= f.label :statut %><br>
            <%= f.label :professeur %>
            <%= radio_button  :statut, :professeur, 'true' %>
            <%= f.label :etudiant %>
            <%= radio_button  :statut, :etudiant, 'false' %>
            <br>
            <div class="colr-md-6 col-md-offset-4">
                <%= f.submit "S'inscrire" ,class: 'btn btn-primary' %>
            </div>


          </div>



       <% end %>
 </div>

</div>
